footer {
    background-color: #472563;
    padding-top: 100px;
    color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.footerLeft,
.footerRight {
    width: 100%;
    padding: 0 2%;
    margin: 15px;
}

.footerLeft h2,
.footerRight h2 {
    font-size: 23px;
    font-weight: lighter;
    margin: 1rem 0;
}

.footerLeft p {
    font-weight: lighter;
    font-size: 15px;
    margin: 2rem 0;
}

.footerLeft form input[type=text],
.footerLeft form input[type=email] {
    width: 100%;
    max-width: 480px;
    height: 60px;
    margin-top: 10px;
    line-height: 58px;
    padding-left: 8px;
    border: 1px solid #cccccc;
}

.footerLeft form textarea {
    width: 100%;
    max-width: 480px;
    height: 160px;
    padding: 15px;
    border: 1px solid #cccccc;
    margin: 1rem 0;

}

.footerLeft input.btnOrg[type=text] {
    display: block;
    width: 200px;
    margin: 2rem 0;
}

.footerRight .map {
    width: 100%;
    margin-top: 10px;
    height: 480px;
    background-color: #ffffff;
}

.finalFooter {
    width: 100%;
    padding: 40px 2%;
    color: #ffffff;
    background-color: #192123;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.finalFooter p {
    font-size: 14px;
}