    header {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        height: 90vh;
        min-height: 400px;
        padding: 40px 2%;
        background-image: url(../imagens/capa.png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .desktopMenu {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        width: 150px;
        height: 50px;
        background-image: url(../imagens/logo-danki.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .desktopList {
        list-style-type: none;
        display: flex;
    }
    
    .desktopList li a {
        padding: 20px;
        font-size: 2rem;
        color: white;
        text-decoration: none;
    }
    
    .menuToggle {
        width: 40px;
        height: 30px;
        margin-right: 2%;
        display: none;
    }
    
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }
    
    .one {
        margin-top: 0;
    }
    
    .mobileList {
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #7159c1;
    }
    
    .mobileList li a {
        padding: 20px;
        font-size: 2rem;
        color: white;
        text-decoration: none;
    }
    
    nav.call {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        max-height: 40%;
        padding: 0 2%;
        margin: 20vh auto;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    
    .call1 {
        width: 70%;
        max-width: 700px;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .call1 h2 {
        font-size: 4rem;
        color: #ffffff;
        font-weight: bolder;
    }
    
    .call1 p {
        margin-top: 1rem;
        color: #ffffff;
        text-align: justify;
        font-size: 25px;
        line-height: 2;
    }