@media screen and (max-width: 1024px) {
    nav.call .call1 {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }
    .sec3LWrap {
        width: 100%;
        padding: 20px;
        text-align: justify;
    }
    .sec3RWrap {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: 90px;
    }
    .sec3RWrap h2 {
        width: 100%;
    }
    .section3 .sec3Right .sec3RWrap .containerImg {
        padding: 10px 0;
        width: 100%;
    }
    .sec3RWrap h4 {
        margin: 0 auto;
        padding: 5px 0;
    }
}

@media screen and (max-width: 960px) {
    .section1 .section1Container {
        margin: 0 auto;
    }
    .section1 .section1Container .sectionText1 {
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section1 .section1Container .deviceSection1 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav.call .call1 h2 {
        font-size: 3rem;
    }
    nav.call .call1 p {
        font-size: 2rem;
    }
}