section.section1 {
    width: 100%;
    max-width: 1440px;
    height: 400px;
    background-color: #472562;
    padding: 0 2%;
    margin: 0 auto;
}

.section1Container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sectionText1 {
    color: #ffffff;
    width: 50%;
    height: 400px;
    position: relative;
    left: 190px;
    top: 0px;
}

.sectionText1 h2 {
    font-size: 26px;
    margin-top: 70px;
    font-weight: lighter;
}

.sectionText1 p {
    font-size: 16px;
    margin-top: 20px;
}

.sectionText1 ul {
    list-style-position: inside;
}

.sectionText1 ul li {
    margin-top: 8px;
}

.sectionText1 input.btnOrg,
footer input.btnOrg[type=text] {
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.deviceSection1 {
    width: 50%;
    height: 450px;
    position: relative;
    top: -50px;
    right: 100px;
    background-image: url(../imagens/device.png);
    background-size: 100% 100%;
}

section.section2 {
    padding: 0 2%;
    max-width: 144rem;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
}

.section2 h2 {
    font-weight: 300;
    margin-top: 3rem;
    color: #472663;
}

.section2 p {
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.mockupImg {
    background-image: url(../imagens/mockup.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

section.section3 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    height: 500px;
}

.sec3Left {
    width: 50%;
    padding: 90px 0;
    color: #ffffff;
    background-color: #835FA7;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.sec3LWrap {
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sec3LWrap h2 {
    font-weight: lighter;
    font-style: italic;
    font-size: 23px;
}

.sec3Left p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 40px;
}

.sec3Right {
    width: 50%;
    padding: 90px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sec3RWrap {
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sec3RWrap h2 {
    width: 50%;
    color: #232323;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
}

.section3 .sec3Right .sec3RWrap .containerImg {
    width: 50%;
    display: flex;
    justify-content: center;
}

.imgAuthor {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: gray;
}

.sec3RWrap h4 {
    font-size: 15px;
    color: #232323;
    font-style: italic;
    font-weight: 300;
}

.sec3RWrap p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
    color: #232323;
    text-align: justify;
}

.sec3RWrap .sliderBullets {
    width: 100%;
    display: flex;
    margin-top: 8px;
}

.sec3RWrap .sliderBullets div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #cccccc;
}